.box-1
{
    width: 100vw;
    height: 100vh;
    background-image: url("/public/Images/loginPage.jpg");
    background-size: cover;
    display: flex; /*child elements) hizalamak ve düzenlemek için esnek kutu modeli (flexbox) düzenini kullanmasını sağlar.*/
    justify-content: center; /* Bu özellik, esnek kapsayıcı elemanın (flex container) içindeki çocuk öğelerin yatay (X ekseni) doğrultusunda nasıl hizalanacağını belirler. */
    align-items: center; /* Bu özellik, esnek kapsayıcı elemanın içindeki çocuk öğelerin dikey (Y ekseni) doğrultusunda nasıl hizalanacağını belirler. */ 

}


.panel
{
    width: 450px;      /* Panelin genişliği (form elemanlarının genişliğine uygun) */
    padding: 20px;     /* İçerik ile kenarlar arasındaki boşluk */
    background-color: rgba(255, 255, 255, 0.8); /* Şeffaf beyaz arka plan */
    border: 1px solid #ccc;   /* Panelin kenarları */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif bir gölge efekti */
    border-radius: 10px; /* Panelin köşelerini yuvarlama */
    text-align: center;

}

.frm-1, #lbl-1, #lbl-2, .inpt-1, .btnn-1
{
    margin-bottom: 15px;
}

.frm-1
{
    display: flex;
    flex-direction: column; /* Form içindeki elemanların dikey olarak alt alta hizalanmasını sağlar. */
    align-items: flex-start; /* Form içerisindeki öğelerin formun merkezinde hizalanmasını sağlar */
}
#lbl-1
{
    font-size: 35px;
    font-weight: bold;
}

.inpt-1
{
    width: 400px;   
    height: 50px;
    opacity: 0.7;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btnn-1
{
    width: 400px;
    height: 50px;
    border-radius: 35px;
    color :black;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-top: 15px;

}

.btnn-1:hover
{
    background-color: #f0f0f0;
}

#lbl-2
{
    
}